{% extends "layouts/base.twig" %}
{% import "views/predefine.twig" as predefine %}
{% block page_title %}
    {{ 'user.reset.password.title' | t }}
{% endblock %}
{% block stylesheets %}
    {{ "css/login.css" | assetUrl | stylesheetTag }}
{% endblock %}

{% block scripts %}
    {{ "js/password.js" | assetUrl | scriptTag }}
{% endblock %}

{% block content %}
    <!-------------------------------->
    <!--TOP DIVIDER-->
    <!-------------------------------->
    <section name="TOP DIVIDER">
        <div class="wrapperdiv divider" style="background-color: white;">
            <div class="bodycontentdiv" style="max-width: 750px;">
            </div>
        </div>
    </section>
    <div class="{% if device.isDesktop %}container{% else %}container-fluid content-wrapper{% endif %}">
        <div class="reset-password">
            <div class="header text-center">
                <span>{{ 'user.reset.password.title' | t }}</span>
            </div>
            <input type="hidden" name="login" value="{{ login }}">
            <input type="hidden" name="key" value="{{ key }}">

            <!-- success info to reset password. hidden -->
            <div class="row success" style="display: none;">
                <div class="col-sm-offset-4 col-sm-4">
                    <p class="error">
                        <i class="icon icon-success icon-lg"></i>
                        {{ 'user.reset.password.success' | t }}
                    </p>
                </div>
            </div>

            <!-- failed info when ajax call return success. hidden -->
            <div class="row fail" style="display: none;">
                <div class="col-sm-offset-4 col-sm-4">
                    <p class="error">
                    </p>
                </div>
            </div>

            {{ predefine.reset_password_form(_context) }}

        </div>
    </div>
{% endblock %}

