{% extends "layouts/base.twig" %}
{% import "views/predefine.twig" as predefine %}
{% block page_title %} {{ 'user.signup.title' | t }} {% endblock %}

{% block stylesheets %}
    {{ "css/login.css" | assetUrl | stylesheetTag }}
{% endblock %}

{% block scripts %}
    {{ "js/login.js" | assetUrl | scriptTag }}
    {% if store.channelAccountType == 'mobile' %}
      {{ "js/mobile-account.js" | globalAssetUrl | scriptTag }}
    {% endif %}
{% endblock %}

{% block content %}
    <!-------------------------------->
    <!--TOP DIVIDER-->
    <!-------------------------------->
    <section name="TOP DIVIDER">
        <div class="wrapperdiv divider" style="background-color: white;">
            <div class="bodycontentdiv" style="max-width: 750px;">
            </div>
        </div>
    </section>
    <div class="{% if device.isDesktop %}container{% else %}container-fluid{% endif %} signup">
        {{ predefine.signupForm(_context) }}
    </div>
{% endblock %}
